@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background-image: url('../img/background.png');
  background-repeat: repeat;
  color: #0743ec;
  font-family: 'Indie Flower', cursive;
}

div {
  background-color: #ffffff;
}

.content {
  position: relative;
  width: 500px;
  margin-left: 30%;
  padding: 5px;
}

.content img {
  width: 30%;
  height: 30%;
}

#tags {
  padding: 5px;
  float: right;
  position: relative;
}
